<div class='table'>
  <div class='table__box table__box--ByteCloud'>
    <p class='table__name'>ByteCloud</p>
    <ul id='ByteCloudList' class='table__list'></ul>
  </div>
  <div class='table__box table__box--ObjectStorage'>
    <p class='table__name'>Object Storage</p>
    <ul id='ObjectStorageList' class='table__list'></ul>
  </div>
</div>